<!doctype html>
<html>

<head>
<h2><a href="/">Link to Start Page</a></h2>
<H1>Nguyen's Countries API Call</H1>

</head>
<body>
    <form>
    <h3>Add new Article </h3>
    <label for="text">   Title:  </label>
    <input type="text" name="Title" id="title"><br>
    <label for="text">Content: </label>
    <input type ="text" name = "Content" id = "content"><br>
    <p></p>
    <input type = "submit" id="addTitle" value ="Add"></input><br>
    <script href="ex3.js"></script>
    <p id="result"></p>
</form>
<p></p>
</body>

</html>